.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.green {
  background-color: green; }

.purple {
  background-color: purple; }

.tomato {
  background-color: tomato;
  width: 400px; }

.yellow {
  background-color: yellow; }

.custom-size {
  width: 200px; }

.layout-wrap {
  background-color: lightblue;
  height: 200px; }
